[submodule "nvim/pack/man/start/coc.nvim"]
	path = nvim/pack/man/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
[submodule "nvim/pack/man/start/ultisnips"]
	path = nvim/pack/man/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "nvim/pack/man/opt/jellybeans.vim"]
	path = nvim/pack/man/opt/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "tmux/plugins/tmux-battery"]
	path = tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery
[submodule "tmux/plugins/tmux-cpu"]
	path = tmux/plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu
[submodule "tmux/tmux-spotify"]
	path = tmux/plugins/tmux-spotify
	url = https://github.com/robhurring/tmux-spotify
[submodule "tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "tmux/plugins/tmux-pain-control"]
	path = tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "nvim/pack/man/start/vim-snippets"]
	path = nvim/pack/man/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "nvim/pack/man/start/vim-tmux-navigator"]
	path = nvim/pack/man/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "nvim/pack/man/start/vim-airline"]
	path = nvim/pack/man/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "nvim/pack/man/start/vim-airline-themes"]
	path = nvim/pack/man/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "nvim/pack/man/start/tcomment_vim"]
	path = nvim/pack/man/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "nvim/pack/man/start/delimitMate"]
	path = nvim/pack/man/start/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "nvim/pack/man/start/fzf.vim"]
	path = nvim/pack/man/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim/pack/man/start/vim-floaterm"]
	path = nvim/pack/man/start/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm
[submodule "nvim/pack/man/start/plenary.nvim"]
	path = nvim/pack/man/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/pack/man/start/gitsigns.nvim"]
	path = nvim/pack/man/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "nvim/pack/man/start/nvim-dap-ui"]
	path = nvim/pack/man/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "nvim/pack/man/start/nvim-dap"]
	path = nvim/pack/man/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "nvim/pack/man/start/nvim-dap-go"]
	path = nvim/pack/man/start/nvim-dap-go
	url = https://github.com/leoluz/nvim-dap-go
[submodule "nvim/pack/man/start/nvim-dap-python"]
	path = nvim/pack/man/start/nvim-dap-python
	url = https://github.com/mfussenegger/nvim-dap-python
[submodule "zsh_theme/bullet-train.zsh"]
	path = zsh_theme/bullet-train.zsh
	url = https://github.com/caiogondim/bullet-train.zsh
[submodule "nvim/pack/man/start/telescope.nvim"]
	path = nvim/pack/man/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/pack/man/start/telescope-coc.nvim"]
	path = nvim/pack/man/start/telescope-coc.nvim
	url = https://github.com/fannheyward/telescope-coc.nvim
